<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenue!</h1> 
    <p>Voici notre super évenement! :</p>
    <li> Name : {{event.name}} </li>
    <li> Description : {{event.description}} </li>
    <li> Date : {{event.date}} </li>
    <li> Places : {{event.places}} </li>

    <form action="" method="post">
        <br>
        <label for="number">Nombre de tickets</label>
        <input type="option" name="number" id="number">
        <input type="submit" value="Acheter">
    </form>
</body>
</html> 