<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/account/registration" method="POST">
        <p> Please Enter your Pseudo :<input type="text" name="pseudo" value="" placeholder="pseudo"> </p> <br>
        <p> Please Enter your Email :<input type="text" name="emailCreation" value="" placeholder="email"> </p> <br>
        <p> Please Enter your Password : <input type="password" name="passwordCreation" value="" placeholder="password"></p><br>
        <p> Please type your Password again :<input type="password" name="passwordVerification" value="" placeholder="password verification"> </p><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>