<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleTournamentBracket.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Century Project Tournament</h2>
        <div class="tournament-bracket tournament-bracket--rounded">                                                     
          <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
            <h3 class="tournament-bracket__round-title">Quarterfinals</h3>
            <ul class="tournament-bracket__list">
              <li class="tournament-bracket__item">
                <div class="tournament-bracket__match" tabindex="0">
                  <table class="tournament-bracket__table">
                    <caption class="tournament-bracket__caption">
                      <time datetime="1998-02-18">18 February 1998</time>
                    </caption>
                    <thead class="sr-only">
                      <tr>
                        <th>Country</th>
                        <th>Score</th>
                      </tr>
                    </thead>  
                    <tbody class="tournament-bracket__content">
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code " title="Canada">{{teamName1[0].name}}</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-label="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <!-- <span class="tournament-bracket__number">4</span> -->
                        </td>
                      </tr>
                      <tr class="tournament-bracket__team">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" title="Kazakhstan">{{teamName1[1].name}}</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-kz" aria-label="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <!-- <span class="tournament-bracket__number">1</span> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
      
              <li class="tournament-bracket__item">
                <div class="tournament-bracket__match" tabindex="0">
                  <table class="tournament-bracket__table">
                    <caption class="tournament-bracket__caption">
                      <time datetime="1998-02-18">18 February 1998</time>
                    </caption>
                    <thead class="sr-only">
                      <tr>
                        <th>Country</th>
                        <th>Score</th>
                      </tr>
                    </thead>  
                    <tbody class="tournament-bracket__content">
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" title="Czech Republic">{{teamName1[2].name}}</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-cz" aria-label="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <!-- <span class="tournament-bracket__number">4</span> -->
                        </td>
                      </tr>
                      <tr class="tournament-bracket__team">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" title="Unitede states of America">{{teamName1[3].name}}</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-us" aria-label="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <!-- <span class="tournament-bracket__number">1</span> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
              <li class="tournament-bracket__item">
                <div class="tournament-bracket__match" tabindex="0">
                  <table class="tournament-bracket__table">
                    <caption class="tournament-bracket__caption">
                      <time datetime="1998-02-18">18 February 1998</time>
                    </caption>
                    <thead class="sr-only">
                      <tr>
                        <th>Country</th>
                        <th>Score</th>
                      </tr>
                    </thead>  
                    <tbody class="tournament-bracket__content">
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" title="Finland">{{teamName1[4].name}}</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-fi" aria-label="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <!-- <span class="tournament-bracket__number">2</span> -->
                        </td>
                      </tr>
                      <tr class="tournament-bracket__team">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" title="Sweden">{{teamName1[5].name}}</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-se" aria-label="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <!-- <span class="tournament-bracket__number">1</span> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
      
              <li class="tournament-bracket__item">
                <div class="tournament-bracket__match" tabindex="0">
                  <table class="tournament-bracket__table">
                    <caption class="tournament-bracket__caption">
                      <time datetime="1998-02-18">18 February 1998</time>
                    </caption>
                    <thead class="sr-only">
                      <tr>
                        <th>Country</th>
                        <th>Score</th>
                      </tr>
                    </thead>  
                    <tbody class="tournament-bracket__content">
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" title="Russia">{{teamName1[6].name}}</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-ru" aria-label="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <!-- <span class="tournament-bracket__number">4</span> -->
                        </td>
                      </tr>
                      <tr class="tournament-bracket__team">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" title="Belarus">{{teamName1[7].name}}</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-by" aria-label="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <!-- <span class="tournament-bracket__number">1</span> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </ul>
          </div>
          <div class="tournament-bracket__round tournament-bracket__round--semifinals">
            <h3 class="tournament-bracket__round-title">Semifinals</h3>
            <ul class="tournament-bracket__list">
              <li class="tournament-bracket__item">
                <div class="tournament-bracket__match" tabindex="0">
                  <table class="tournament-bracket__table">
                    <caption class="tournament-bracket__caption">
                      <time datetime="1998-02-20">20 February 1998</time>
                    </caption>
                    <thead class="sr-only">
                      <tr>
                        <th>Country</th>
                        <th>Score</th>
                      </tr>
                    </thead>  
                    <tbody class="tournament-bracket__content">
                      <tr class="tournament-bracket__team">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" title="Canada">{{teamName2[0].name}}</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-label="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <!-- <span class="tournament-bracket__number">1</span> -->
                        </td>
                      </tr>
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" title="Czech Republic">{{teamName2[1].name}}</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-cz" aria-label="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <!-- <span class="tournament-bracket__number">2</span> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
      
              <li class="tournament-bracket__item">
                <div class="tournament-bracket__match" tabindex="0">
                  <table class="tournament-bracket__table">
                    <caption class="tournament-bracket__caption">
                      <time datetime="1998-02-20">20 February 1998</time>
                    </caption>
                    <thead class="sr-only">
                      <tr>
                        <th>Country</th>
                        <th>Score</th>
                      </tr>
                    </thead>  
                    <tbody class="tournament-bracket__content">
                      <tr class="tournament-bracket__team">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" title="Finland">{{teamName2[2].name}}</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-fi" aria-label="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <!-- <span class="tournament-bracket__number">4</span> -->
                        </td>
                      </tr>
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" title="Russia">{{teamName2[3].name}}</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-ru" aria-label="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <!-- <span class="tournament-bracket__number">7</span> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </ul>
          </div>
          <div class="tournament-bracket__round tournament-bracket__round--bronze">
            <h3 class="tournament-bracket__round-title">Final</h3>
            <ul class="tournament-bracket__list">
              <li class="tournament-bracket__item">
                <div class="tournament-bracket__match" tabindex="0">
                  <table class="tournament-bracket__table">
                    <caption class="tournament-bracket__caption">
                      <time datetime="1998-02-21">21 February 1998</time>
                    </caption>
                    <thead class="sr-only">
                      <tr>
                        <th>Country</th>
                        <th>Score</th>
                      </tr>
                    </thead>  
                    <tbody class="tournament-bracket__content">
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" title="Finland">{{teamName3[0].name}}</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-fi" aria-label="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <!-- <span class="tournament-bracket__number">3</span> -->
                          <span class="tournament-bracket__medal tournament-bracket__medal--bronze fa fa-trophy" aria-label="Bronze medal"></span>
                        </td>
                      </tr>
                      <tr class="tournament-bracket__team">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" title="Canada">{{teamName3[1].name}}</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-label="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <!-- <span class="tournament-bracket__number">2</span> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <section class="chooseWinner"> 
        <form action="" method="post">
          {% for key, team in match if team.round == 1%}
            {% if key == 0 %}
            <fieldset id="match1">
              <label for="{{teamName[key].name}}">{{teamName1[key].name}}</label>
              <input type="radio" value="{{team.team1}}" name="{{teamName1[key].name}}" id="{{teamName[key].name}}">
              <input type="radio" value="{{team.team2}}" name="{{teamName1[key].name}}" id="{{teamName[key+1].name}}"">
              <label for="{{teamName[key+1].name}}">{{teamName1[key+1].name}}</label>
              <input type="hidden" name="round" value="2">
            </fieldset>
            {% else %}
            <fieldset id="match{{key + 1}}">
              <label for="{{teamName[myKey + 1].name}}">{{teamName1[myKey + 1].name}}</label>
              <input type="radio" value="{{team.team1}}" name="{{teamName1[key].name}}" id="{{teamName1[myKey + 1].name}}">
              <input type="radio" value="{{team.team2}}" name="{{teamName1[key].name}}" id="{{teamName1[myKey + 2].name}}">
              <label for="{{teamName[myKey + 2].name}}">{{teamName1[myKey + 2].name}}</label>
            </fieldset>
            {% set myKey = myKey + 2 %}
            {% endif %}
          {% endfor %}
          {% if match[0].round == 1%}
          <input type="submit" value="Envoyer">
         {% endif %}
        </form>   
        
        <form action="" method="post">
          {% set myKey = 0 %}
          {% for key, team in match if team.round == 2%}
            {% if myKey == 0 %}
            <fieldset id="match1">
              <label for="{{teamName1[key].name}}">{{teamName2[key].name}}</label>
              <input type="radio" value="{{team.team1}}" name="{{teamName2[key].name}}" id="{{teamName[key].name}}">
              <input type="radio" value="{{team.team2}}" name="{{teamName2[key].name}}" id="{{teamName[key+1].name}}"">
              <label for="{{teamName[key+1].name}}">{{teamName2[key + 1].name}}</label>
              <input type="hidden" name="round" value="3">
              {% set myKey = myKey + 1 %}
            </fieldset>
            {% else %}
            <fieldset id="match{{key + 1}}">
              {% set myKey = 2 %}
              <label for="{{teamName[myKey + 1].name}}">{{teamName2[myKey].name}}</label>
              <input type="radio" value="{{team.team1}}" name="{{teamName2[1].name}}" id="{{teamName[myKey + 1].name}}">
              <input type="radio" value="{{team.team2}}" name="{{teamName2[1].name}}" id="{{teamName[myKey + 2].name}}">
              <label for="{{teamName[myKey + 2].name}}">{{teamName2[myKey +1 ].name}}</label>
            </fieldset>
            {% set myKey = myKey + 2 %}
            {% endif %}
          {% endfor %}
          {% if match[0].round == 2%}
          <input type="submit" value="Envoyer">
         {% endif %}
        </form>   

        <form action="" method="post">
          {% set myKey = 0 %}
         
          {% for key, team in match if team.round ==3%}
          {% if myKey == 0 %}
            <fieldset id="match1">
              <label for="{{teamName1[key].name}}">{{teamName3[key].name}}</label>
              <input type="radio" value="{{team.team1}}" name="{{teamName2[key].name}}" id="{{teamName[key].name}}">
              <input type="radio" value="{{team.team2}}" name="{{teamName2[key].name}}" id="{{teamName[key+1].name}}"">
              <label for="{{teamName[key+1].name}}">{{teamName3[key + 1].name}}</label>
              <input type="hidden" name="round" value="4">
              {% set myKey = myKey + 1 %}
            </fieldset>
            {% else %}
            <fieldset id="match{{key + 1}}">
              {% set myKey = 2 %}
              <label for="{{teamName[myKey + 1].name}}">{{teamName3[myKey].name}}</label>
              <input type="radio" value="{{team.team1}}" name="{{teamName2[key].name}}" id="{{teamName[myKey + 1].name}}">
              <input type="radio" value="{{team.team2}}" name="{{teamName2[key].name}}" id="{{teamName[myKey + 2].name}}">
              <label for="{{teamName[myKey + 2].name}}">{{teamName3[myKey +1 ].name}}</label>
            </fieldset>
            {% set myKey = myKey + 2 %}
            {% endif %}
          {% endfor %}
          {% if match[0].round == 3%}
          <input type="submit" value="Envoyer">
         {% endif %}
        </form>   
        <h1>Le vainqueur est {{teamName4[0].name}}</h1>
      </section>
</body>
</html>
